{:description "my new application."
 :transform
 [["build" ""
   {"build.tmpl" "build.clj"
    "deps.tmpl"  "deps.edn"
    "dev.tmpl"   "dev/dev.clj"}]

  ["src" "src/{{top/file}}"
   {"main.tmpl" "{{main/file}}.clj"}]

  ["test" "test/{{top/file}}"
   {"main_test.tmpl" "{{main/file}}_test.clj"}]]}
