.classpath
.clj-kondo/.cache
.cpcache
.java-version
.lsp/.cache
.lsp/sqlite.db
.nrepl-history
.nrepl-port
.project
.rebel_readline_history
.socket-repl-port
.sw*
*.class
*.jar
*.swp
*~
/classes
/target
