# keep the log dir, but ignore the log files
logs/**/*
!logs/.gitkeep

# editor - vim
.sw*
*.class
*.jar
*.swp
*~

# editor - vscode
.calva/output-window/
.vscode

# editor - lsp
.lsp/.cache
.lsp/sqlite.db

# lang - clojure
.classpath
.cpcache
.java-version
/checkouts
/classes
/target

# lang - clojure - clj-kondo
.clj-kondo/imports
.clj-kondo/.cache

# lang - clojure - nrepl
.nrepl-history
.nrepl-port

# lang - clojure - rebl
.rebel_readline_history
.settings
.socket-repl-port
