{:min-bb-version
 "1.12.200"

 :tasks
 {:requires
  ([clojure.string :as s])

  -cli-args
  {:doc  "Command line arguments"
   :task (s/join " " *command-line-args*)}

  dev
  {:doc  "Start app"
   :task (shell "clj -M:dev:run-repl")}


  ;; Usage:
  ;; --------------------------------------------------------------------------
  ;;  help:
  ;;  $ bb fmt -h
  ;;
  ;;  format and write file:
  ;;  $ bb fmt -w path/to/file.clj
  fmt
  {:doc        "Format clojure code"
   :extra-deps {zprint/zprint {:mvn/version "1.2.9"}},
   :requires   ([zprint.main])
   :task       (-> (partial zprint.main/-main "{:search-config? true}")
                   (apply *command-line-args*))}

  test
  {:doc  "Test app"
   :task (shell "clojure -M:dev:test")}

  outdated
  {:doc     "List app client deps with new versions."
   :depends [-cli-args]
   :task    (shell (str "clj -M:outdated " -cli-args))}}}
